body{
    font-family: 'Baloo 2', cursive;
}

.portfo{
    color: #ffd700  ;
    font-size: xx-large;
}

.lio{
    color: #9acd32  ;
    font-size:xx-large;
}

.nav-link{
    font-size: large;
}

.search-b{
    background-color: #9acd32;
}

.mahin{
    color: #ffd700;
}